<div class="room-buttons">
  <a class="room-button" href="/"><i class="fas fa-arrow-left"></i> Back </a>
</div>

<h1 class="page-title">Oops!</h1>

<div class="error-box">
  <h2>{{statusCode}} - {{title}}</h2>
  <p>{{message}}</p>
</div>
